<%= header_section(@subject) %>
<section>
  <p>
    <%= link_to(@user.display_name, admin_user_url(@user)) %> was placed on short-term probation. This is a notification to review the current risk state of the user.
  </p>
</section>
