<%= header_section(@subject) %>
<section>
  <% markdown do %>
    Hi,

    We apologize for the inconvenience, but we noticed certain behaviors in your account that indicate possible violations of our [Terms of Service](http://www.gumroad.com/terms).

    As we are a small company, reliant on our banking partners and forced to uphold their policies (as well as various government regulations), we have to temporarily suspend your account to make sure this behavior doesn't continue.

    We ask that you please reply to this email immediately. We'll then be able to clarify the situation, reverse the suspension, and get your account back on track.

    It's also entirely possible that this suspension was made in error! We do make mistakes, and we apologize in advance if we've done so. By emailing us, you'll not only get your own situation settled, but you'll help prevent something like this from happening to other creators.
  <% end %>
</section>
