= header_section(@subject)
%section
  :markdown
    Hi,

    Unfortunately, due to the strict banking and government regulations we are bound to, and risk concerns surrounding your account's behavior, we have been forced to suspend your sales and will not be able to continue working with you. I would recommend contacting your clients to find a different means of payment.

    For more context on why this might happen, please see our [terms of service](http://www.gumroad.com/terms).

    As we are a small company reliant on our banking partners to continue processing our payments and backing us financially, we are unable to set our own course on this matter.

    If you believe that this suspension was made in error, please contact us and we will review your account ASAP. We do make mistakes, and apologize in advance if we have.
