<section>
  <p>User <%= @user.id %> has been flagged for fraud.</p>
  <p><%= link_to "Admin page for user", admin_user_url(@user) %></p>
  <p><%= @user.name if @user.name.present? %></p>
  <p><%= @user.email %></p>
</section>
