= load_pack("admin_review")

.paragraphs
  - if @users.any?
    - @users.each do |user|
      = render("admin/users/user", user: user, is_affiliate_user: false)
  - else
    = render("admin/empty_state", message: "No users found.")
